<tr>
  <td>
    <h2>{{ this.hardware_target }}</h2>
    {% for tag in this.tags %}
      {{ tag }}
    {% endfor %}
  </td>
  <td>
    <a href="https://ftp.freedombox.org/pub/freedombox/hardware/{{ this.hardware_target_shortname }}/{{ record.ftp_path }}/{{ this.filename }}"
       class="bluebutton">image <em>({{ this.size }} MiB)</em></a>
    <a href="https://ftp.freedombox.org/pub/freedombox/hardware/{{ this.hardware_target_shortname }}/{{ record.ftp_path }}/{{ this.signature_filename }}"
       class="signature">signature</a>
  </td>
</tr>
