.cloud-icon {
    margin: 4em auto;
    text-align: center;
}

.cloud-icon img {
    margin: 0.2em auto;
    color: gray;
    padding-bottom: 0.7em;
}

.cloud-icon i {
    margin: 0.2em auto;
    color: gray;
}

.warning {
    max-width: 64rem;
    margin: 0 auto;
    padding: 3rem;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
