.version {
    position: absolute;
    width: 25.6rem;
    text-align: center;
    line-height: 1;
    top: 5.3rem;
}
    .version h1 {
        font-size: 8rem;
        font-style: italic;
        font-weight: bold;
        /*color: rgb(45,144,233);*/
    }
    .version time {
        display: block;
        /*color: rgb(45,144,233);*/
        padding: 1rem 0 2rem;
        font-weight: bold;
        font-size: 1.8rem;
    }

table.img {
    width: 64rem;
    margin: 3.2rem auto;
    text-align: left;
}

    table.img tr:nth-child(odd){
        background: #f3f8fd;
    }
    table.img td{
        padding: 3.2rem;
    }
    table.img td:nth-child(even){
        text-align: center;
    }
    table.img h2 {
        font-style: italic;
        font-weight: bold;
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }
    table.img a em {
        font-size: 1.6rem;
    }
    table.img a.signature {
        display: block;
        text-align: center;
    }
