header {
    height: 31.9rem;
}

header a.logo {
    height: 19.2rem;
}

.background-box {
    position: absolute;
    left: calc(50% - 11.7rem);
    top: 8.4rem;
    width: 23.4rem;
    height: 22.7rem;
    background: url("../images/pioneer-edition.jpg") no-repeat;
    background-size: 20.4rem auto;
    z-index: 1;
}

@media (max-width: 767px) {
    .background-box {
        display: none;
    }
}

.description {
    background: linear-gradient(to right, rgba(255,255,255,0.88) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    position: relative;
    z-index: 2;
    overflow: visible;
}

@media (min-width: 768px) {
    .description {
        margin: 0 0 0 calc(50% - 3rem);
    }
}

.buttons {
    left: calc(50% - 46rem);
    top: 7.8rem;
    z-index: 10;
}

@media (min-width: 768px) {
    .buttons {
        position: absolute;
    }
}

.buttons-table td {
    text-align: right;
    padding: 12px;
}

.buttons-table td:last-child {
    text-align: left;
}

.more-link {
    text-align: right;
}

    .more-link a {
        color: rgb(64,196,75);
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
    }

    .more-link a:after {
        content: " >";
        text-align: right;
    }

    .more-link a:hover {
        color: rgb(47,153,56);
    }

.boxes {
    position: relative;
    overflow: visible;
    width: auto;
    left: 0%;
}


@media (min-width: 992px) {
    .boxes {
        height: 108.8rem;
    }
}

@media (min-width: 992px) {
    .box {
        position: absolute;
    }
}

@media (max-width: 991px) {
    .box {
        padding: 0 3rem 0 11rem;
    }
}


    .box p {
        position: relative;
        margin-top: 0;
        padding: 1rem 0 1rem 1.6rem;
        line-height: 1.25;
        font-style: italic;
        color: rgb(64,196,75);
        background: rgb(203,239,206);
        background: linear-gradient(30deg, rgba(203,239,206,1) 0%,rgba(255,255,255,1) 30%);
    }

        .box p:after {  /*triangle of speech bubble*/
            content:" ";
            position: absolute;
            width: 0;
            height: 0;
            left: 4rem;
            border-top: 3.2rem solid transparent;
            border-bottom: 3.2rem solid transparent;
            border-left: 3.2rem solid #d6f3d8;
            z-index: -1;
        }

        .box .graybox {
            position: relative;
            left: -3.2rem;
            width: 17.7rem;
            height: 20.4rem;
            background: url("../images/graybox.png") no-repeat 0 -14.8rem;
        }

        .box .graybox:before { /*long line*/
            content: " ";
            position: absolute;
            height: 1rem;
            width: 200rem;
            right: 95%;
            top: -53.5rem;
            transform: skewY(30deg); /* Standard syntax */
            background: rgb(122,189,255);
            z-index: -1;
        }


@media (min-width: 992px) {
    .box.description1 {
        left: 47%;
        width: 38rem;
    }
}

    .box.description1 .graybox:before { /*long line*/
        height: 1rem;
    }

@media (min-width: 992px) {
    .box.description2 {
        left: 60%;
        top: 30rem;
        width: 46rem;
    }
}

    .box.description2 .graybox {
        background-size: 14rem;
        background-position: 0 -11.5rem;
        left: -2rem;
        height: 16rem;
    }
    .box.description2 .graybox:before { /*long line*/
        height: 0.7rem;
        top: -54rem;
    }

@media (min-width: 992px) {
    .box.description3 {
        left: 24.5%;
        top: 32rem;
        width: 36rem;
    }
}

    .box.description3 .graybox {
        background-position: 0 -10rem;
        background-size: 12rem;
        left: -1.5rem;
        height: 12rem;
    }
    .box.description3 .graybox:before { /*long line*/
        height: 0.6rem;
        top: -55rem;
    }

.box.link a {
    position: relative;
    display: block;
    padding-left: 6.4rem;
    text-decoration: none;
    line-height: 1;
    font-style: italic;
}
.box.link  a:hover {
    text-decoration: underline;
}
.box.link  a:before {
    content: " ";
    position: absolute;
    height: 6.4rem;
    width: 6.4rem;
    margin: -1rem 0 0 -7rem;
    background: url("../images/icons.png") no-repeat 0 0;
    background-size: auto 6.4rem;
}
.box.link .graybox:before { /*long line*/
    height: 0.4rem;
    top: -55rem;
}
.box.link .graybox {
    background-size: 9rem;
    left: -1.5rem;
    background-position: 0 -7.5rem;
    height: 10rem;
}
.box.link a {
    top: -2rem;
    left: -0.5rem;
    background: white
}

@media (min-width: 992px) {
    .box.link1 {
        left: 76%;
        top: 54rem;
        width: 20rem;
    }
}


    .box.link1 a:before {
        background-position: 0 0;
    }

@media (min-width: 992px) {
    .box.link2 {
        left: 45%;
        top: 64rem;
        width: 28rem;
    }
}

    .box.link2 a:before {
        background-position: -8rem 0;
    }

@media (min-width: 992px) {
    .box.link3 {
        left: 14%;
        top: 73rem;
        width: 28rem;
    }
}

    .box.link3 a:before {
        background-position: -16rem;
    }

.line {
    position: absolute;
    height: 0.3rem;
    width: 200rem;
    right: 128%;
    transform: skewY(30deg); /* Standard syntax */
    background: rgb(122,189,255);
    z-index: -1;
}

@media (min-width: 992px) {
    .line {
        top: 51rem;
    }
}

@media (max-width: 991px) {
    .line {
        display: none;
    }
}

.line:nth-last-of-type(2) {right: 113%;}
.line:nth-last-of-type(3) {right: 92%;}
.line:nth-last-of-type(4) {right: 108%;}
.line:nth-last-of-type(5) {right: 63%;}
.line:nth-last-of-type(6) {right: 45%;}
.line:nth-last-of-type(7) {right: 30%;}

@media (min-width: 992px) {
    .features .lastlink {
        padding-top: 97rem;
    }
}

.lastlink {
    margin: 3.2rem 0;
}

section.video {
    text-align: center;
    background-color: #e7f3fd;
    padding: 2.6rem 0;
}

section.video video {
    max-width: 768px;
    width: 100%;
}
