.terminal {
    border-radius: 5px 5px 0 0;
    position: relative; left: 50%;
    transform: translateX(-50%);
    max-width: 768px;
}

.terminal .top {
    background: #E8E6E8;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.terminal .btns {
    position: absolute;
    right: 1.5rem;
}

.title {
    text-align: center;
}

.clear {
    clear: both;
}

.terminal .body {
    background: black;
    color: #7AFB4C;
    padding: 8px;
    overflow: auto;
    text-align: left;
}

.space {
    margin: 25px;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4)
}
