{% extends "page.html" %}

{% block heading %}
{% endblock %}

{% block bottom_menu %}
  <div class="buttom-menu buttons">
    <a href="{{ '/download'|url }}" class="bigbluebutton">download</a>
  </div>
{% endblock %}
