{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/buy.css'|asseturl }}">
{% endblock %}

{% block content %}
  <section class="content">
    {{ this.body }}
  </section>

  <section class="buy">
    <p>
      <img src="{{ '/images/pioneer-edition.jpg'|asseturl }}" alt="FreedomBox Pioneer edition" width=360px/>
    </p>
    <div class="buttons">
      <a href="https://www.olimex.com/Products/OLinuXino/Home-Server/Pioneer-FreedomBox-HSK/" class="bigbluebutton">Order now</a>
    </div>
  </section>
  <span class="minor-button">
    <a href="https://discuss.freedombox.org/c/pioneer-support/" class="greenbutton">Support Forum</a>
    <a href="https://freedomboxfoundation.org/donate/" class="greenbutton">Donate</a>
  </span>
{% endblock %}
