{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/landing.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/cloud.css'|asseturl }}">
{% endblock %}

{% block content %}

  <div class="cloud-icon">
    <a href="https://wiki.debian.org/FreedomBox/Cloud#On_AWS_EC2"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Documentation</a>
  </div>

{% endblock %}

{% block bottom_content %}
  <section class="video">
    <video controls>
      <source src="{{ 'FreedomBoxAWS.webm'|asseturl }}"
              type='video/webm;codecs="vp9, vorbis"'/>
      <source src="{{ 'FreedomBoxAWS.mp4'|asseturl }}"
              type='video/mp4"'/>
        Your browser does not support the video tag.
    </video>
  </section>
{% endblock %}
