{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/terminal.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/cloud-debian.css'|asseturl }}">
{% endblock %}

{% block content %}

  <section class="commands">

    <div class="cloud-icon">
      <a href="https://wiki.debian.org/FreedomBox/Cloud#On_other_cloud_providers"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Documentation</a>
    </div>

    <p>
      SSH into your Debian (10.0 - Buster or above) cloud instance and run the
      following commands.
    </p>

    <div class="terminal space shadow">
      <div class="top">
        <div class="btns">
          <span class="fa fa-close"></span>
        </div>
        <div class="title">admin@FreedomBox:~</div>
      </div>
      <pre class="body">
$ sudo apt-get update
$ sudo DEBIAN_FRONTEND=noninteractive apt-get install freedombox
      </pre>
    </div>

  </section>

  <section class="cloud-providers">
    <h2>FreedomBox works on all cloud service providers offering Debian</h2>

    <div class="cloud-provider-box">
      <!--
        Source: https://commons.wikimedia.org/wiki/File:Logo-OVH.svg
        License: Creative Commons Attribution-Share Alike 4.0 International
        license (https://creativecommons.org/licenses/by-sa/4.0/deed.en)
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.ovh.com/" class="provider-logo" title="OVH">
        <img src="{{ '/images/ovh_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://www.exoscale.com/press/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.exoscale.ch/" class="provider-logo" title="Exoscale">
        <img src="{{ '/images/exoscale_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://www.linode.com/press https://www.linode.com/logos
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.linode.com/" class="provider-logo" title="Linode">
        <img src="{{ '/images/linode_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://www.vultr.com/affiliate/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.vultr.com/" class="provider-logo" title="Vultr">
        <img src="{{ '/images/vultr_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://commons.wikimedia.org/wiki/File:Logo_Hetzner.svg
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.hetzner.com/" class="provider-logo provider-hetzner" title="Hetzner">
        <img src="{{ '/images/hetzner_logo.svg'|asseturl }}" width="120px"/>
      </a>
      <!--
        Source: https://www.scaleway.com/about/
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.scaleway.com/" class="provider-logo" title="Scaleway">
        <img src="{{ '/images/scaleway_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://commons.wikimedia.org/wiki/File:DigitalOcean_logo.svg
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://www.digitalocean.com/" class="provider-logo" title="DigitalOcean">
        <img src="{{ '/images/digitalocean_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://aws.amazon.com/architecture/icons/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://amazonlightsail.com/" class="provider-logo" title="Amazon Lightsail">
        <img src="{{ '/images/lightsail_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://cloud.google.com/icons/
        License: Public Domain
        Notes: This image consists only of simple geometric shapes or text.
        It does not meet the threshold of originality needed for copyright
        protection, and is therefore in the public domain.
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://console.cloud.google.com" class="provider-logo" title="Google Cloud">
        <img src="{{ '/images/gcp_logo.svg'|asseturl }}" height="75px"/>
      </a>
      <!--
        Source: https://commons.wikimedia.org/wiki/File:Microsoft_Azure_Logo.svg
        License: Public Domain
        Trademark: Fair use as the trademark is being used to identify the
        service and not being used to indicate endorsement or sponsorship by
        the trademark owner.
      -->
      <a href="https://azure.microsoft.com/" class="provider-logo" title="Microsoft Azure">
        <img src="{{ '/images/azure_logo.svg'|asseturl }}" height="75px"/>
      </a>
      </div>
    </div>
    <p class="foot-note">
      All product names, logos, and brands are the intellectual property of
      their respective owners. The use of the logos is for informational
      purposes and does not imply endorsement of FreedomBox by the named
      organizations.
    </p>
  </section>

{% endblock %}
