{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/cloud.css'|asseturl }}">
{% endblock %}

{% block content %}

  <section class="warning">
    <b><em>Warning:</em></b> A FreedomBox server running in the public cloud does not provide the same legal and privacy protections that a FreedomBox running on your own hardware at home does. Please use the following for trial purposes only. <a href="https://wiki.debian.org/FreedomBox/Cloud#Risks_of_cloud-hosting">Learn more</a>
  </section>

  <div class="cloud-icon">
    <img alt="" src="{{ '/images/aws-icon.svg'|asseturl }}" />
    <div class="buttons">
      <a href="{{ '/cloud/aws'|url }}" class="bigbluebutton">install FreedomBox image on AWS</a>
    </div>
  </div>

  <div class="cloud-icon">
    <i class="fa fa-debian fa-fw fa-5x" aria-hidden="true"></i>
    <div class="buttons">
      <a href="{{ '/cloud/debian'|url }}" class="bigbluebutton">install on a Debian cloud server</a>
    </div>
  </div>

{% endblock %}
