{% extends "layout.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/coc.css'|asseturl }}">
{% endblock %}

{% block heading %}
  <h1 class="headlinegroup">{{ this.title }}</h1>
{% endblock %}

{% block content %}
  <section class="body">
    {{ this.body }}
  </section>
{% endblock %}
