{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/demo.css'|asseturl }}">
{% endblock %}

{% block content %}
  <section class=info>
    Username: <b>demo</b></br>
    Password: <b>demo</b>
  </section>
  <div class="buttons">
    <a href="https://demo.freedombox.org/plinth/" class="bigbluebutton">launch</a>
  </div>
  <p/>
  <p/>
  <p class="foot-note">
    Server hosted on AWS infrastructure in Germany.
  </p>
  <section class="warning">
    <b><em>Note:</em></b> This demo server will be reset every 30 minutes.
  </section>
  <p/>
{% endblock %}
