{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/download-all.css'|asseturl }}">
{% endblock %}

{% block content %}

  <div class="downloadlist">
    <a href="{{ '/download/stable'|url }}">
      <em>stable</em>
      <span class="description">Released July 2019, only security updates and backports</span>
    </a>
    <a href="{{ '/download/testing'|url }}">
      <em>testing</em>
      <span class="description">Rolling release with all the latest features</span>
    </a>
    <a href="{{ '/download/nightly'|url }}">
      <em>nightly</em>
      <span class="description">For developers of FreedomBox</span>
    </a>
  </div>

  <div class="lastlink">
    <a href="https://wiki.debian.org/FreedomBox/Download"
       class="greenbutton">how to verify and install</a>
  </div>

{% endblock %}
